@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0rem;
    padding: 0rem;
    font-family: "Poppins", sans-serif;;
}

.container {
    display: flex;
    margin: 2rem 2rem 2rem 6rem;
    gap: 5rem;
    place-items: center;
}

.container .form_section .vidmeo h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

.container .form_section .vidmeo span {
    font-weight: 500;
    color: rgb(88, 88, 245);
}

.container .form_section .create h2{
    font-weight: 600;
    font-size: 2rem;
    margin: 0rem;
}

.container .form_section .create {
    margin-bottom: 2rem;
}

.container .form_section .create p{
    color: #000;
    font-size: 1rem;
    margin: 0rem;
    font-weight: 400;
}

.form_section {
    width: 30%;
}

.container .form_section .form_main #form .form-control {
    position: relative;
    margin-bottom: 2.5rem;
}

.container .form_section .form_main #form .form-control .input_div .main_icon {
    position: absolute;
    right: 3rem;
    top: 2.6rem;
    color: #878787;
    font-size: 1.5rem;
}

.container .form_section .form_main #form .form-control label{
    display: inline-block;
    font-size: 0.7rem;
}

.container .form_section .form_main #form .form-control .input_div input {
    width: 85%;
    display: block;
    padding: 1.5rem;
    border: 0;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    outline: none;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
}

.container .form_section .form_main #form .form-control .input_div input::placeholder{
    color: #b8b8b8;
    font-weight: 200;
    font-size: 1.1rem;
}



/* ===============Error & Success section================ */

.container .form_section .form_main #form .form-control .input_div .error_circle {
    position: absolute;
    visibility: hidden;
    right: 3rem;
    top: 2.6rem;
    color: red;
    font-size: 1.5rem;
}

.container .form_section .form_main #form .form-control .error input {
    border: 2px solid red;
    visibility: visible;
    border-radius: 0.5rem;
}

.container .form_section .form_main #form .form-control .error .error_circle {
    visibility: visible;
}

.container .form_section .form_main #form .form-control .error .main_icon {
    visibility: hidden;
}

.container .form_section .form_main #form .form-control .input_div small{ 
    visibility: hidden;
    position: absolute;
    color: rgb(218, 12, 12);
    font-size: 13px;
    margin: 0rem;
    bottom: -1.5rem;
}

.container .form_section .form_main #form .form-control .error small {
    visibility: visible;
}

.container .form_section .form_main #form .form-control .input_div .success_circle {
    position: absolute;
    visibility: hidden;
    right: 3rem;
    top: 2.6rem;
    color: green;
    font-size: 1.5rem;
}

.container .form_section .form_main #form .form-control .success input {
    border: 2px solid green;
    visibility: visible;
    border-radius: 0.5rem;
}

.container .form_section .form_main #form .form-control .success .success_circle {
    visibility: visible;
}

.container .form_section .form_main #form .form-control .success .main_icon {
    visibility: hidden;
}

/* ================Button section ================== */
.container .form_section .form_main #form .btn_section {
    display: flex;
    gap: 2rem;
    width: 90%;
}

.container .form_section .form_main #form .btn_section button {
    display: flex;
    place-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.2rem;
    background-color: #5858f5;
    height: 2rem;
    width: 35%;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1.5rem 0rem;
}

.container .form_section .form_main #form .btn_section .acc p {
    font-size: 0.8rem;
    color: #878787;
    width: 200%;
}

.container .form_section .form_main #form .btn_section .acc a {
    color: rgb(88, 88, 245);
    text-decoration: none;
}

.video_section {
    width: 70%;
}

video {
    width: 100%;
    height: 93vh;
    object-fit: cover;
    border-radius: 20px;
}